{% extends "base.html" %}
{% load static %}

{% block body %}

        <!-- about-us
    ======================================= -->
        <section class="section-padding inner-page-about-us" style="margin-top:4rem">
            <svg class="bg-shape shape-about reveal-from-bottom" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="779px" height="759px">
                <defs>
                    <linearGradient id="PSgrad_03" x1="70.711%" x2="0%" y1="70.711%" y2="0%">
                        <stop offset="0%" stop-color="rgb(237,247,255)" stop-opacity="1" />
                        <stop offset="100%" stop-color="rgb(237,247,255)" stop-opacity="0" />
                    </linearGradient>

                </defs>
                <path fill-rule="evenodd" fill="url(#PSgrad_03)" d="M111.652,578.171 L218.141,672.919 C355.910,795.500 568.207,784.561 692.320,648.484 C816.434,512.409 805.362,302.726 667.592,180.144 L561.104,85.396 C423.334,-37.184 211.037,-26.245 86.924,109.832 C-37.189,245.908 -26.118,455.590 111.652,578.171 Z"
                />
            </svg>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <img src="{% static 'images/inner-page-about-img.jpg' %}" alt="about image" class="img-fluid img-round">
                    </div>
                    <!-- End of .col-md-6 -->

                    <div class="col-lg-6">
                        <h2>We’re Your Partner in Your Success</h2>
                        <p>At <span style="text-decoration: none; font-weight: bold;">UNI Dream Solutions</span>, we understand that success in the education sector isn't just about individual achievements; it's about collective progress. That's why we position ourselves not just as a service provider but as your dedicated partner in achieving your educational goals.
                        </p>
                        <p>With a deep commitment to collaboration, innovation, and excellence, we strive to be more than just a vendor – we're an extension of your team, working hand-in-hand to drive positive outcomes for your institution or organization.
                        </p>
                        <div class="counter-wrapper inner-page-counter-wrapper d-flex justify-content-between">
                            <div class="inner-block">
                                <div class="counter-block d-block txt-grad-ef">
                                    <span class="counter">40</span>+
                                </div>
                                HAPPY
                                <br>CLIENTS
                            </div>
                            <div class="inner-block">
                                <div class="counter-block d-block txt-grad-ab">
                                    <span class="counter">20</span>+
                                </div>
                                PROJECTS
                                <br>COMPLETED
                            </div>
                            <div class="inner-block">
                                <div class="counter-block d-block txt-grad-cd">
                                    <span class="counter">25</span>+
                                </div>
                                RUNNING
                                <br>PROJECTS
                            </div>
                        </div>
                        <!-- End of .counter-block -->
                    </div>
                    <!-- End of .col-lg-6 -->
                </div>
            </div>
            <!-- End of .container -->
        </section>
        <!-- End of .about-us -->

{% endblock body %}