{% extends "base.html" %}
{% load static %}

{% block tittle %}
     <title>UNI Dream Solution - Publishing and Conversion Services</title>
{% endblock tittle %}
{% block body %}
<section class="section-padding" style="margin-top: 5rem;">
    <div class="container my-5">
        <h1 class="text-center mb-4">UNI Dream Solutions Publishing and Conversion Services</h1>
        <p>UNI Dream Solutions is at the forefront of digital publishing and content conversion, leveraging cutting-edge technologies to deliver high-quality, accessible content. Our services are designed to meet the evolving needs of authors, publishers, and content providers aiming for excellence in digital publishing.</p>
        <h2 class="text-center mt-5">Why Choose Our Publishing and Conversion Services?</h2>
        <div class="container">
            <!-- Service Offerings -->
            <div class="row">
                <!-- Advanced Publishing Technologies -->
                <div class="col-md-6">
                    <div class="card qa-step" data-step="1">
                        <div class="card-body">
                            <h4 class="card-title"><strong>Advanced Publishing Technologies</strong></h4>
                            <div class="card-text scrollable">
                                <p>Utilizing the latest in publishing technology, we ensure your content is not only visually engaging but also optimized for digital platforms, enhancing reach and reader interaction.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ePub Creation and WCAG Compliance -->
                <div class="col-md-6">
                    <div class="card qa-step" data-step="2">
                        <div class="card-body">
                            <h4 class="card-title"><strong>ePub Creation & WCAG Compliance</strong></h4>
                            <div class="card-text scrollable">
                                <p>Our ePub solutions adhere strictly to WCAG guidelines, ensuring that your eBooks are accessible to all readers, including those with disabilities, across all devices.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Customized Conversion Services -->
                <div class="col-md-6">
                    <div class="card qa-step" data-step="3">
                        <div class="card-body">
                            <h4 class="card-title"><strong>Customized Conversion Services</strong></h4>
                            <div class="card-text scrollable">
                                <p>From PDFs to ePubs, our conversion services are tailored to your specific needs, ensuring seamless content transformation with integrity and precision.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Embedding Accessibility Into Your Content -->
                <div class="col-md-6">
                    <div class="card qa-step" data-step="4">
                        <div class="card-body">
                            <h4 class="card-title"><strong>Embedding Accessibility Into Your Content</strong></h4>
                            <div class="card-text scrollable">
                                <p>Beyond compliance, we embed accessibility features into your content, making it intuitive and user-friendly for all readers, enhancing their reading experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Commitment to Quality -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card qa-step" data-step="5">
                        <div class="card-body">
                            <h4 class="card-title"><strong>Commitment to Quality</strong></h4>
                            <div class="card-text scrollable">
                                <p>Quality is our hallmark. Through meticulous QA processes, we ensure that every project meets the highest standards of excellence and accuracy.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Your Partner in Digital Innovation -->
                <div class="col-md-6">
                    <div class="card qa-step" data-step="6">
                        <div class="card-body">
                            <h4 class="card-title"><strong>Your Partner in Digital Innovation</strong></h4>
                            <div class="card-text scrollable">
                                <p>As your partner, we’re committed to innovating and pushing the boundaries of digital publishing and content conversion, helping you stay ahead in a dynamic digital landscape.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .qa-step {
                padding: 20px;
                margin-bottom: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                height: 200px;
                overflow-y: auto;
            }
            .qa-step:hover {
                background: linear-gradient(45deg, #e9a17b, #ff7cb0);
                color: white;
            }
            .qa-step::-webkit-scrollbar {
                width: 10px;
            }
            .qa-step::-webkit-scrollbar-thumb {
                background: linear-gradient(45deg, #e9a17b, #ff7cb0); /* Make the scrollbar thumb color same as background */
            }
            .qa-step::before {
                content: " ";
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 10px 50px rgba(166, 209, 237, 0.2);
                z-index: -2;
            }
            .qa-step:hover .card-title,
            .qa-step:hover .card-text p {
                color: #fff;
            }
            .container h1 {
                font-size:45px;
            }
            .container h2 {
                font-size:35px;
            }
        </style>
        
        <p>With UNI Dream Solutions, embrace the future of publishing — where quality, accessibility, and innovation converge to create truly remarkable digital experiences. Let’s transform your content together.</p>
        <p>Ready to elevate your content with our publishing and conversion services? <a href="" data-bs-toggle="modal" data-bs-target="#get-a-quote-modal">Contact us today</a> to learn how we can help.</p>
    </div>
</section>


{% endblock body %}